@using Library;
@model IEnumerable<Library.Message>
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<div>
    <h4>MessageReply</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.Partial("_ReplyPartial", Model)
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
